*{
    margin: 0;
    padding: 0;
}
main {
    width: 100%;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);;
}
.pageTitle{
    text-align: center;
    padding: 10px 20px;
    color: whitesmoke;
}

.history {
    width: 95%;
    display: flex;
    margin: auto;
}

.outcome {
    width: 100%;
    text-align: center;
    background: rgb(34, 184, 171);
    min-height: 88vh;
}

.income {
    width: 100%;
    text-align: center;
    background: linear-gradient(#00b09b, #96c93d);
    min-height: 88vh;
}