* {
  margin: 0;
  padding: 0;
  font-family: cursive; 
}
.error{
  width: 100%;
  height: 5vh;
  text-align: center;
  background: red;
  display: none;
}
.upper-row {
  width: 100%;
  height: 35vh;
  background-image: url(../img/upper_background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.upper-row section {
  z-index: 1;
  width: 25vw;
  height: 8vh;
  font-size: 18px;
  position: relative;
  margin-bottom: 2vh;

}

.upper-row::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 35vh;
  background: rgba(0, 0, 0, 0.521);
}
.total_container {
  width: 100%;
  text-align: center;
  z-index: 1;
}

#total_budget {
  font-size: 2.2em;
  padding: 2vh 0;
}
.incomes_container {
  background: rgb(57, 177, 175);
}
.expenses_container {
  margin-top: 0.5%;
  background: rgb(249, 61, 67);
}
.upper-row section span {
  position: absolute;
  top: 20%;
}
.upper-row section span:nth-child(2) {
  right: 30%;
}

.upper-row section #totalPercentage {
  float: right;
  right: 5%;
  background: rgb(231, 124, 127);
  border-radius: 4px;
  top: 23%;
  font-size: 16px;
}
.form {
  width: 100%;
  height: 10vh;
  background-color: #f8f9fa;
}

form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
select,
input {
  height: 25px;
  margin-right: 2vh;
}

input[type="text"] {
  width: 250px;
}
input[type="number"] {
  width: 120px;
}

select {
  width: 40px;
}

form .far {
  font-size: 25px;
  position: relative;
  top: 3.5px;
  color: rgb(160, 162, 163);
}

.listContainer {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.income_list {
  width: 45%;
}

.expenses_list {
  width: 45%;
}

.listContainer section div div {
  width: 100%;
  height: 8vh;
  border-bottom: 1px solid rgba(85, 79, 79, 0.897);
  position: relative;
  font-size: 20px;
}

.listContainer section div div:first-of-type {
  border-top: 1px solid rgba(85, 79, 79, 0.897);
}
.listContainer section div div span {
  position: absolute;
  right: 2%;
  top: 23%;
}

.listContainer section div div i {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 3vh;
  right: 0;
  transition: 0.5s;
}
.listContainer section div div:hover i {
  opacity: 1;
  right: 5px;
}
.listContainer section span:first-of-type {
  left: 1%;
}
.listContainer section div div:hover span:nth-child(3) {
  right: 10%;
}
.expenses_list div div:hover span:nth-child(2) {
  right: 22%;
}

.income_list div div:hover span:nth-child(2) {
  right: 10%;
}

.expenses_list div div span:nth-child(2) {
  right: 15%;
  color: rgb(230, 82, 82);
  transition: 0.5s;
}

.income_list div div span:nth-child(2) {
  color: rgb(58, 218, 151);
  transition: 0.5s;
}

.expenses_list div div span:nth-child(3) {
  right: 2%;
  background: rgb(224, 153, 155);
  border-radius: 4px;
  font-size: 16px;
  color: red;
  transition: 0.5s;
}

.income_list h2 {
  color: rgb(58, 218, 151);
  margin-bottom: 20px;
}

.expenses_list h2 {
  color: #e65268;
  margin-bottom: 20px;
}

.listContainer section div div:nth-child(even) {
  background: rgb(236, 229, 229);
}

.delete {
  color: rgb(226, 66, 66);
}

@media (max-width: 800px) {
  .listContainer {
    flex-direction: column;
    justify-content: center;
  }
  .upper-row section{
    width: 70vw;
  }
  .income_list {
    width: 100%;
  }
  .expenses_list {
    width: 100%;
  }
  form{
    flex-direction: column;
  }
}

