* {
    padding: 0;
    margin: 0;
}

:root {
    --shadow: #5353e0;

}

.Trackers {
    width: 80%;
    margin: auto;
    overflow: auto;
}



.Trackers .trackersContainer {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 1%;
}

.upperSection{
    display: flex;
    justify-content: center;
    margin: 10px;
    
}

.Trackers .addTrack {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(87, 10, 87);
    margin-left: 10%;
  
}

.Trackers .addTrack_sign {
    font-size: 40px;
    margin-left: 25%;
}

.Trackers .trackerCard {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    color: black;
    border: 1px solid tomato;
    box-shadow: 3px 2px 2px var(--shadow);
    position: relative;
}

.Trackers .trackerCard img {
    width: 90%;
    margin: auto;
}

.Trackers .fa-trash-alt {
    font-size: 25px;
    color: rgb(223, 95, 95);
    position: absolute;
    right: 10px;
    top: 10px;
}

.Trackers .trackerCard .details {
    width: 90%;
    margin: auto;
}

.Trackers .trackerCard h4 {
    text-align: center;
    margin-bottom: 2vh;
}

.Trackers .link {
    word-wrap: break-word;
}

.Trackers .prices {
    display: flex;
    flex-direction: column;
    /* margin-left: 10%; */
}

@media only screen and (max-width: 1280px) {
    .Trackers {
        width: 90%;
    }

    .Trackers .trackersContainer {
        grid-gap: 2%;
        grid-template-columns: 47% 47%;
    }
}

@media only screen and (max-width: 576px) {
    .Trackers {
        width: 90%;
    }

    .Trackers .trackersContainer {
        grid-gap: 2%;
        grid-template-columns: 95%;
        margin: auto;
    }
}