* {
    margin: 0;
    padding: 0;
}

.HeaderAfterLog {
    min-height: 35vh;
    width: 100%;
    background-image: url("../../../images/mountain-landscape-2031539__340.webp");
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.HeaderAfterLog::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 30vh;
    z-index: 1;
    background-color: black;
    opacity: .4;
}

.HeaderAfterLog div:first-of-type {
    margin-bottom: 1vh;
}

.HeaderAfterLog div {
    z-index: 100;
    color: --light-mode-textColor;
    font-size: 18px;
    line-height: 1.4;
}

.HeaderAfterLog .total_income, .HeaderAfterLog .total_outcome {
    display: flex;
    align-items: center;
    width: 20%;
    height: 40px;
    background-color: #4f8b12;
}

.HeaderAfterLog .total_outcome {
    margin-top: 1vw;
    background-color: #a10c0c;
}

.HeaderAfterLog div span {
    margin-left: 30%;
}

/* MEdia Query For small devices */

@media only screen and (max-width: 1400px) {
    .HeaderAfterLog .total_income, .HeaderAfterLog .total_outcome {
        width: 30%;
    }
}

@media only screen and (max-width: 1100px) {
    .HeaderAfterLog .total_income, .HeaderAfterLog .total_outcome {
        width: 40%;
    }
}

@media only screen and (max-width: 700px) {
    .HeaderAfterLog .total_income, .HeaderAfterLog .total_outcome {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .HeaderAfterLog .total_income, .HeaderAfterLog .total_outcome {
        width: 65%;
    }
}

@media only screen and (max-width: 500px) {
    .HeaderAfterLog .total_income, .HeaderAfterLog .total_outcome {
        width: 80%;
    }
}