*{
    margin: 0;
    padding: 0;
}

.WorldMap .sphere{
   fill: #3345ac;
    margin: 0;
    overflow: hidden;
}

.WorldMap .country{
    fill: rgb(132, 202, 67);
    stroke: black;
    stroke-opacity: 0.2;
}

.WorldMap .country:hover{
    fill: rgb(218, 113, 15);
}